* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
  color: #e5e7eb;
}
.navbar{
  position: fixed;
  top: 20px;
  left: 50px;
  right: 50px;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgb(10, 242, 68);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(10, 242, 68) solid 2px ;
}
.navbar h2{
  font-size: 1.8rem;
}
.navbar ul{
  display: flex;
  gap: 0.7rem;
  list-style: none;
}
.navbar a{
  text-decoration: none;
  color: white;
  font-size: 1 rem;
  transition: 0.3s ease;
}
.navbar a:hover{
  color:rgb(10, 242, 68);
  text-shadow: 0 0 5px rgb(10, 242, 68),
               0 0 10px rgb(10, 242, 68),
               0 0 20px rgb(10, 242, 68);
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 50px;
  margin-top: 4rem;
  /* padding: 0 10%; */
  

}
.right{
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
}
.left{
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
}
.profile-img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgb(10, 242, 68);
  transition: 0.4s;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-img:hover{
  box-shadow: 0 0 40px rgb(10, 242, 68);
  transform: scale(1.05);
}
@keyframes float{
  0%{transform:translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(0);}
}
.profile-img{
  animation: float 3s ease-in-out infinite;
}

