
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #EDF958;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #EDF958;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;  
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
  background: linear-gradient(90deg, #00BFFF, #8A2BE2, #1C1C1C); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-one a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #EDF958;
    border-radius: 50%;
    font-size: 20px;
    color: #EDF958;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(-.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-one a:hover{
    background: #EDF958;
    color: #1C2B1A;
    box-shadow: 0 0 20px #EDF958;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #EDF958;
    border-radius: 40px;
    font-size: 16px;
    color: #07021d;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #e0ea55, 0 0 25px #c7fe58;
}
.btn-box:hover{
    box-shadow: 0 0 5px #EDF958,
    0 0 25px #EDF958, 0 0 50px #EDF958,
    0 0 100px #EDF958, 0 0 200px #EDF958;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 6rem;
}
.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px; 
  margin-left: 3rem;
  background: linear-gradient(135deg, #a214cd, #d53dd7);
  box-shadow:
    0 0 15px #d851fa,
    0 0 25px #c92cc9,
    0 0 35px rgb(195, 57, 207);
   display: inline-block; 
}

.about-img img {
  width: 100%;
  border-radius: 50%;
  display: block;
  max-width: 630px;
  height: auto;
}
.about-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #d440d4;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #c3ddec;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: #ebdcad;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}
#services{
    color: #ebdcad;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #d440d4;

}
.container{
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #d851fa,
                1px 1px 40px rgb(195, 57, 207);
}
.services-list i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover {
     box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;     
}
.services-list div:hover {
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.box{
    font-size: 23px;
    overflow: visible !important;
    position: relative;
}
.skills{
    overflow: visible !important;
    position: relative;
}
.Technical-box .box{
    margin-top: 40px 0;
}
.Technical-box .box:first-child{
    margin-top: 0;
}
.Technical-box .box:last-child{
    margin-bottom: 0;
}
.Technical-box .box .info{
    margin-bottom: 5px;
}
.Technical-box .box .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-box .box .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.Technical-box .box .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 60%;
}
.progress-line.js span{
    width: 85%;
}
.progress-line.react span{
    width: 50%;
}
.progress-line.php span{
    width: 75%;
}
.progress-line.java span{
    width: 55%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px  8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "60%";
}
.progress-line.js span::after{
    content: "85%";
}
.progress-line.react span::after{
    content: "50%";
}
.progress-line.php span::after{
    content: "75%";
}
.progress-line.java span::after{
    content: "55%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}